// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$gap: 30px;
$color: #FF8939;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  height: 100%;
  overflow: hidden;
  font-family: sans-serif;
  background: rgb(2,0,36);
  background: linear-gradient(349deg, rgba(2,0,36,1) 0%, rgba(15,15,140,1) 26%, rgba(0,212,255,1) 100%);
  color: #fff;
}
.heading {
  padding: 60px 0;
  text-align: center;
  text-transform: uppercase;
}
.page {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 58px;
  right: 0;
  overflow-y: scroll;
}
.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 960px;
  margin: auto;
  padding: 0 $gap/2;
  min-height: 100%;
}
.copyright {
  margin-top: auto;
  text-align: center;
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
.add-list-button {
  text-align: center;
  margin: 30px 0;
  button {
    border-radius: 4px;
    padding: 15px 20px;
    background: rgb(255,137,57);
    font-size: 2em;
    cursor: pointer;
    border: 0;
    color: #fff;
    font-weight: bold;
    background: linear-gradient(349deg, rgba(255,137,57,1) 0%, rgba(255,103,0,1) 26%, rgba(255,103,0,1) 100%);
  }
}
.form {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  display: flex;
  background: rgba(0, 0, 0, .6);
  padding: 10px;
  h2 {
    margin: 10px 0;
    font-size: 1.2em;
  }
  &--inner {
    margin: auto;
    padding: 5px 10px;
    background: linear-gradient(349deg, rgba(255,137,57,1) 0%, rgba(255,103,0,1) 26%, rgba(255,103,0,1) 100%);
    border-radius: 4px;
  }
  input {
    height: 40px;
    line-height: 40px;
    width: 100%;
    border-radius: 4px 0 0 4px;
    border: 0;
    padding: 0 20px;
  }
  form {
    display: flex;
  }
  .button {
    height: 40px;
    line-height: 40px;
    width: 60px;
    text-align: center;
    background: rgba(255, 255, 255, .4);
    color: #fff;
    border: 0;
    border-left: 1px solid rgba(0, 0, 0, .2);
    font-size: 0;
    i {
      font-size: 1.5rem;
      vertical-align: middle;
    }
    cursor: pointer;
    &:last-child {
      border-radius: 0 4px 4px 0;
    }
  }
}
.errors {
  font-size: .8em;
  margin: 5px 0;
}
.list {
  margin: 40px 0;
  &--heading {
    display: flex;
    background: linear-gradient(349deg, rgba(255,137,57,1) 0%, rgba(255,103,0,1) 26%, rgba(255,103,0,1) 100%);
    padding: 10px 20px;
    border-radius: 4px 4px 0 0;
    font-size: 1.3em;
  }
  &--name {
    margin-left: 10px;
    margin-right: auto;
  }
  &--optionals {
    i {
      cursor: pointer;
    }
  }
}
.main-enter-active {
  transition: all .3s ease;
}
.main-leave-active {
  transition: all .2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.main-enter, .main-leave-to {
  transform: scale(.5);
  opacity: 0;
}
